<header class="header bg-white navbar-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="/">
            {{- partial "logo.html" "54px" -}}
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <em class="fa fa-bars" aria-hidden="true"></em>
          </button>
          <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
            <ul id="nav" class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="page-scroll" title="Inicio" href="/">
                  Inicio
                </a>
              </li>
              <li class="nav-item">
                <a class="page-scroll" title="Sobre PatoJAD" href="/sobremi/">
                  Sobre PatoJAD
                </a>
              </li>
              <li class="nav-item">
                <a class="page-scroll" target="_blank" title="Sobre Mi" href="https://joaquindecima.gitlab.io/">
                  Sobre Mi
                </a>
              </li>
              <li class="nav-item">
                <a class="page-scroll" title="Contacto" href="/contacto">
                  Contacto
                </a>
              </li>
              <li class="nav-item">
                <a class="page-scroll" title="Agradecimientos" href="/agradecimientos">
                  Agradecimientos
                </a>
              </li>
              <li class="nav-item">
                <a class="page-scroll" title="Agradecimientos" href="https://community.vasak.net.ar/">
                  Foro
                </a>
              </li>
              <li class="nav-item">
                <button type="button" class="theme-btn search-btn" data-bs-toggle="modal" data-bs-target="#searchModal" title="Buscar">
                  Buscar
                </button>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
