{{ if gt .TotalPages 1 }}

<div class="pagination">
  <ul class="d-flex justify-content-center align-items-center">
    {{ if .HasPrev }}
    <li><a href="{{ .Prev.URL }}"><em class="fa fa-arrow-left" aria-hidden="true"></em></a></li>
    {{ end }}
    <li><a href="javascript:void(0)" class="active"></a></li>
    {{ if .HasNext }}
    <li><a href="{{ .Next.URL }}"><em class="fa fa-arrow-right" aria-hidden="true"></em></a></li>
    {{ end }}
  </ul>
</div>

{{ end }}
