blockquote{
  font-weight: 500;
  padding: 20px 30px;
  background: var(--bg-site-2);
  color: #051441;
  border-radius: 0 var(--site-radius) var(--site-radius) 0;
  border-left: 5px solid var(--site-color);
  margin: 60px 40px;
}

.blog-content h1, .blog-content h2{
  color: var(--site-color) !important;
}

.blog-content h1, .blog-content h2, .blog-content h3, .blog-content h4, .blog-content h5, .blog-content h6{
  margin-top: 80px;
  margin-bottom: 50px;
}

.embed-video{
  border-radius: var(--site-radius);
  margin-top: 60px;
  margin-bottom: 60px;
}

iframe{
  border-radius: var(--site-radius);
}

.blog-content ul li {
  list-style: disc;
  color: var(--text-color);
  margin-bottom: 30px;
}

.blog-content ul {
  padding-left: 40px;
  margin-bottom: 40px;
}

.blog-content-img{
  border-radius: var(--site-radius);
  margin-top: 60px;
  margin-bottom: 70px;
}

hr{
  margin-top: 70px;
  margin-bottom: 70px;
}
