a{
  color: var(--site-color);
}

.list-group-item{
  background-color: var(--bg-site-3);
}

.list-group-item a{
  color: var(--a-color-2);
}

.logo {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  color: var(--site-color);
  fill: var(--site-color);
}

p {
  color: var(--text-color);
}


.footer {
  background: var(--bg-site-2);
}

.footer .copyright-area {
  border-top: 2px solid var(--bg-site-3);
}

.footer-social-links ul li a {
  background: var(--bg-site-3);
  color: var(--a-color-2);
}

.scroll-top {
  background: var(--site-color);
  border-radius: var(--site-radius);
}

.navbar-nav .nav-item a {
  color: var(--a-color-2);
}

.sticky {
  background: var(--bg-site);
}


.hero-section .hero-content-wrapper h1 {
  color: var(--site-color);
  margin-bottom: var(--a-color-2);
}

.page-banner-section {
  background: var(--site-color);
}

.client-logo-img{
  border-radius: var(--site-radius);
}

.fsite-title{
  color: var(--site-color);
  margin-bottom: 100px;
}

.section-title h2 {
  color: var(--site-color);
}

.box-style {
  border: 1px solid var(--site-color);
  border-radius: var(--site-radius);
}

.box-style .box-icon-style {
  border: 2px solid var(--site-color);
  color: var(--site-color);
}

.team-section .single-team {
  border-radius: var(--site-radius);
}

.blog-section {
  position: relative;
  z-index: 1;
}

.blog-section .single-blog .blog-img {
  border-radius: var(--site-radius) var(--site-radius) 0 0;
}

.blog-section .single-blog .blog-img a {
  display: block;
  overflow: hidden;
}

.blog-section .single-blog .blog-img .date-meta {
  border: 1px solid var(--site-color);
}

.blog-section .single-blog .blog-content .read-more-btn {
  color: var(--site-color);
}

.blog-section.img-bg::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--bg-site-2);
    z-index: -1;
    clip-path: polygon(0% 15%,0% 80%,100% 75%,100% 0);
}

.subscribe-section a {
    border-radius: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border: none;
    background: linear-gradient(to left,#3763eb 0%,#6f58e8 50.39%,#3763eb 100%);
    background-size: 200%;
    transition: all .3s ease-out 0s;
    padding: 30px 120px;
    top: 5px;
    right: 5px;
}

.blog-section .single-blog {
  border-radius: var(--site-radius);
}

.sidebar-wrapper .sidebar-box {
  border: 1px solid var(--site-color);
  border-radius: var(--site-radius);
}

.box-style:hover .box-icon-style {
  background: var(--site-color);
}

.footer-social-links ul li a:hover {
  background: var(--site-color);
}

a:hover, h4 a:hover{
  color: var(--site-color);
}

.client-logo-section .client-logo-wrapper .client-logo-carousel .client-logo img{
  height: 200px;
}

.list-group{
  border-radius: var(--site-radius);
}

.list-group-item:hover{
  border-color: var(--site-color);
}

.footer-social-links ul {
    margin-bottom: 15px
}

.sidebar-wrapper .sidebar-box.tags-box ul li a:hover {
  background: var(--site-color);
}

.sidebar-wrapper .sidebar-box h4{
  color: var(--site-color);
}

.sidebar-wrapper .sidebar-box.recent-blog-box .recent-blog-items .recent-blog .recent-blog-img img {
  border-radius: var(--site-radius);
}

.blog-section .pagination ul li a.active, .blog-section .pagination ul li a:hover{
  background: var(--site-color);
}

.contact-form-wrapper .contact-form select, .search-input {
  padding: 18px 25px;
  border-radius: 30px;
  border: 1px solid var(--site-color);
  margin-bottom: 25px;
  width: 100%;
  transition: all .3s ease-out 0s;
}

.alert{
  border-radius: var(--site-radius);
}

pre{
  padding: 20px;
  border-radius: var(--site-radius);
  margin-top: 10px;
  margin-bottom: 40px;
  border-top: 30px solid var(--site-color)
}

#search-form{
  width: 100%;
}

.search-btn{
  margin: 0px;
}

.modal-content{
  border-radius: var(--site-radius);
}

@media (min-width: 576px){
  .modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
  }
}

.btn{
  border-radius: var(--site-radius);
}

#theme-changer{
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  border-radius: 5px;
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 10009;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
}

.navbar-area{
  background-color: var(--bg-site-g)!important;
}

.fa-moon{
  color: #00008b;
}

.fa-sun{
  color: orange;
}

.alert-info p{
  color: #055160 !important;
}

pre::before{
  font: normal normal normal 14px/1 ForkAwesome;
  content: '\f121';
  color: var(--bg-site);
  position: absolute;
  margin-top: -41px;
}

code::before{
  content: attr(data-lang);
  position: absolute;
  margin-top: -45px;
  color: var(--bg-site);
  margin-left: 30px;
}

.single-blog thead{
  color: var(--site-color);
}

.single-blog table {
  margin-top: 50px;
  background: var(--bg-site-2);
  border-radius: var(--site-radius);
  width: 100%;
  margin-bottom: 1rem;
  color: var(--text-color);
  vertical-align: top;
}

.single-blog th, .single-blog td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.alert-warning p {
  color: #664d03;
}
