:root {
  --bg-site-g: #fff;
  --bg-site: #3763eb;
  --bg-site-2: #eff2f9;
  --bg-site-3: rgba(106, 124, 146, 0.1);

  --a-color-2: #6a7c92;

  --text-color: rgba(106, 124, 146, 0.55);
  --text-title: #051441;

  --site-color: #03a9f4;

  --site-radius: 10px;

  --site-: #03a9f4;
  --site-page: #03a9f4;
  --site-linux: #01aa02;
  --site-juegos: #ef2d35;
  --site-aplicaciones: #0cb1ea;
  --site-noticias: #8b01cc;
  --site-programacion: #ffd740;
  --site-estilo: #f061ac;
  --site-comunidad: #282fba;
  --site-redesyseguridad: #f7b100;
  --site-cursos: #956214;
  --site-instalacion: #1630be;
  --site-macos: #818181;
  --site-windows: #00a1f1;
}
