<!DOCTYPE html>
<html lang="es">
    {{- partial "head.html" . -}}
    <body>
        <div class="preloader" style="opacity: 0; display: none;">
          <div class="loader">
            <div class="spinner">
              <div class="spinner-container">
                <div class="spinner-rotator">
                  <div class="spinner-left">
                    <div class="spinner-circle"></div>
                  </div>
                  <div class="spinner-right">
                    <div class="spinner-circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
