<div class="col-md-6 col-lg-12 col-xl-6">
  <div class="single-blog mb-40 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
    <div class="blog-img">
      <a href="{{ .RelPermalink }}"><img src="{{ .Params.img }}" alt="{{ .Title }}" title="{{ .Title }}"></a>
      <span class="date-meta">
        {{ $formattedDate := .Date.Format "Friday, March 3, 2006" }}

        {{ $monthNumber := .Date.Month }}
        {{ $dayNumber := .Date.Weekday }}

        {{ if eq site.Language.Lang "es" }}
          {{ $monthNumber = index site.Data.meses (printf "%d" .Date.Month) }}
          {{ $dayNumber = index site.Data.dias (printf "%d" .Date.Weekday) }}
          {{ $formattedDate = delimit (slice $dayNumber (printf "%d" .Date.Day) "de" $monthNumber "de" (printf "%d" .Date.Year)) " "}}
        {{ end }}

        {{ $formattedDate }}
      </span>
    </div>
    <div class="blog-content">
      <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
      <p>{{ .Params.description }}</p>
      <a href="{{ .RelPermalink }}" class="read-more-btn">Leer Más <em class="fa fa-arrow-right" aria-hidden="true"></em></a>
    </div>
  </div>
</div>
