{{ define "main" }}
  <style media="screen">
    :root{
      --site-color: var(--site-{{ .Params.type }});
    }
  </style>

  {{ .Scratch.Set "title" .Title }}
  {{ .Scratch.Set "description" .Params.description }}
  {{- partial "generic/postbreadcrumb.html" . -}}

  <section class="blog-section pt-130">
    <div class="container">
      <div class="row">

        <div class="col-xl-8 col-lg-7">
          <div class="left-side-wrapper">
            <div class="row">

              {{ $paginator := .Paginate .Data.Pages.ByDate.Reverse }}
              {{ range $paginator.Pages }}

                {{ .Render "card" }}

              {{ end }}

            </div>

            {{ partial "pagination.html" $paginator }}
          </div>
        </div>

        {{- partial "widgets/lateralbar.html" . -}}

      </div>
    </div>
  </section>

{{ end }}
