<div class="sidebar-box tags-box mb-30">
  <div class="box-style single-counter text-center mb-30">
    <div class="box-icon-style mx-auto">
      <em class="fa fa-pencil"></em>
    </div>
    <div class="counter-content">
      <h3 id="secondo" class="countup count color-1" cup-end="{{ len .Site.RegularPages }}" cup-append="" >{{ len .Site.RegularPages }}</h3>
      <p>Articulos Redactados</p>
    </div>
  </div>
</div>
