<div class="col-xl-4 col-lg-5">
  <div class="sidebar-wrapper mb-60">
    {{- partial "widgets/posts.html" . -}}

    {{- partial "widgets/categorys.html" . -}}

    {{- partial "widgets/socialfollows.html" . -}}

    {{- partial "widgets/articulos.html" . -}}

    {{- partial "widgets/donate.html" . -}}
  </div>
</div>
