<div class="sidebar-box mb-30">
  <h4>Siguenos en</h4>
  <div class="footer-social-links">
    <ul class="d-flex justify-content-start">
      <li>
        <a href="https://t.me/PatoJADCommunity" title="Telegram" target="_blank" rel="noopener">
            <em class="fa fa-telegram" aria-hidden="true"></em>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCta4Iy4TzMx8Xo0pwpkbWgg" title="Youtube" target="_blank" rel="noopener">
          <em class="fa fa-youtube" aria-hidden="true"></em>
        </a>
      </li>
      <li>
        <a href="https://t.me/PatoJADBlog" target="_blank" title="Telegram Canal" rel="noopener">
          <em class="fa fa-bullhorn" aria-hidden="true"></em>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/patojadoficial/" target="_blank" title="Instagram" rel="noopener">
          <em class="fa fa-instagram" aria-hidden="true"></em>
        </a>
      </li>
      <li>
        <a href="https://mastodon.social/@PatoJAD" rel="me" target="_blank" title="Mastodon">
          <em class="fa fa-mastodon" aria-hidden="true"></em>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/PatoJADOficial" target="_blank" title="Twitter" rel="noopener">
          <em class="fa fa-twitter" aria-hidden="true"></em>
        </a>
      </li>
    </ul>
    <ul class="d-flex justify-content-start">
      <li>
        <a href="https://facebook.com/PatoJAD/" target="_blank" title="Facebook" rel="noopener">
          <em class="fa fa-facebook-square" aria-hidden="true"></em>
        </a>
      </li>
      <li>
        <a href="https://lbry.tv/@PatoJAD:d" target="_blank" title="lbry" rel="noopener">
          <em class="fa fa-video-camera" aria-hidden="true"></em>
        </a>
      </li>
      <li>
        <a href="https://steamcommunity.com/id/joaquindecima/" title="Steam" target="_blank" rel="noopener">
          <em class="fa fa-steam" aria-hidden="true"></em>
        </a>
      </li>
      <li>
        <a href="https://discord.gg/n8XtgN3" target="_blank" title="Discord" rel="noopener">
        <em class="fa fa-discord-alt" aria-hidden="true"></em>
        </a>
      </li>
      <li>
        <a href="https://www.twitch.tv/patojad" target="_blank" title="Twitch" rel="noopener">
          <em class="fa fa-twitch" aria-hidden="true"></em>
        </a>
      </li>
    </ul>
  </div>
</div>
