<section id="blog" class="blog-section img-bg pt-130 pb-100">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-xl-6 col-lg-6">
        <div class="section-title mb-60">
          <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            Publicaciones
          </h2>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="section-title mb-60">
          <p class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            Siempre nos esforzamos por brindar conocimientos y novedades. Recuerda revisar nuestras publicaciones y compartirlas con tus conocidos. Si te interesa publicar no dudes en escribirnos.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8 col-lg-7">
        <div class="left-side-wrapper">
          <div class="row">
            {{ $paginator := .Paginate .Site.RegularPages.ByDate.Reverse }}
            {{ range $paginator.Pages }}

              {{ .Render "card" }}

            {{ end }}
          </div>
        </div>
        {{ partial "pagination.html" $paginator }}
      </div>

      {{- partial "widgets/lateralbar.html" . -}}

    </div>
  </div>
</section>
