<section id="team" class="team-section img-bg pt-130">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-7 mx-auto">
        <div class="section-title text-center mb-60">
          <h2
            class="wow fadeInUp"
            data-wow-delay=".4s"
            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            Nuestro Staff
          </h2>
          <p
            class="wow fadeInUp"
            data-wow-delay=".6s"
            style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
            Contamos con un gran equipo que mantienen la comunidad siempre activa, tranquila y porqué no un poco viciada con los juegos...
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div
          class="single-team text-center mb-40 wow fadeInUp"
          data-wow-delay=".2s"
          style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <div class="team-img">
            <img
              src="https://i.postimg.cc/jjm8GXM1/telegram-peer-photo-size-1-3198111629211445171-1-0-0.jpg"
              alt="Juliotech"
              title="Juliotech" />
          </div>
          <div class="team-info">
            <h4>Julio</h4>
            <span>Tech Master</span>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div
          class="single-team text-center mb-40 wow fadeInUp"
          data-wow-delay=".4s"
          style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
          <div class="team-img">
            <img
              src="https://i.postimg.cc/fyjBShM4/telegram-peer-photo-size-1-1300611849685936172-1-0-0.jpg"
              alt="pancram"
              title="pancram"/>
          </div>
          <div class="team-info">
            <h4>Pancram</h4>
            <span>Game Master</span>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div
          class="single-team text-center mb-40 wow fadeInUp"
          data-wow-delay=".6s"
          style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
          <div class="team-img">
            <img
              src="https://i.postimg.cc/zBwn0S6K/telegram-peer-photo-size-1-1427776176234014645-1-0-0.jpg"
              alt="Pipe"
              title="Pipe"/>
          </div>
          <div class="team-info">
            <h4>Pipe</h4>
            <span>Father Master</span>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div
          class="single-team text-center mb-40 wow fadeInUp"
          data-wow-delay=".8s"
          style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
          <div class="team-img">
            <img src="https://i.postimg.cc/HkK4xLbc/telegram-peer-photo-size-1-1220710124947089441-1-0-0.jpg"
              alt="Miguel"
              title="Miguel"/>
          </div>
          <div class="team-info">
            <h4>Miguel</h4>
            <span>Mexican Master</span>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div
          class="single-team text-center mb-40 wow fadeInUp"
          data-wow-delay=".8s"
          style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
          <div class="team-img">
            <img src="https://i.postimg.cc/fbMCm9zF/image.png"
              alt="Borrego"
              title="Borrego"/>
          </div>
          <div class="team-info">
            <h4>Borrego</h4>
            <span>Garuda Fan</span>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div
          class="single-team text-center mb-40 wow fadeInUp"
          data-wow-delay=".8s"
          style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
          <div class="team-img">
            <img src="https://steamuserimages-a.akamaihd.net/ugc/797613168581479963/C79C5729635692396CE231F548A6810B7D647261/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false"
              alt="Jorgicio"
              title="Jorgicio"/>
          </div>
          <div class="team-info">
            <h4>Jorgicio</h4>
            <span>Master of Striming</span>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div
          class="single-team text-center mb-40 wow fadeInUp"
          data-wow-delay=".8s"
          style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
          <div class="team-img">
            <img src="https://i.postimg.cc/52cBJFDG/image.png"
              alt="Pelado"
              title="Pelado"/>
          </div>
          <div class="team-info">
            <h4>Pelado</h4>
            <span>Falso Cordobes</span>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div
          class="single-team text-center mb-40 wow fadeInUp"
          data-wow-delay=".8s"
          style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
          <div class="team-img">
            <img src="https://i.postimg.cc/0ytyfGkJ/vecteezy-karate-silhouette-and-taekwondo-on-a-white-background-10777981.jpg"
              alt="Tano"
              title="Tano"/>
          </div>
          <div class="team-info">
            <h4>Tano</h4>
            <span>Pasta y Mate Master</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
