<section class="subscribe-section pt-70 pb-70 img-bg" style="background-image: url('https://i.postimg.cc/8kL7fmrm/image.png')">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6">
        <div class="section-title mb-30">
          <span class="text-white wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
            Telegram
          </span>
          <h2 class="text-white mb-40 wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            Unite a nuestro Grupo de Telegram
          </h2>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 text-center">
        <a href="https://t.me/PatoJADCommunity">Unirme a la comunidad <em class="fa fa-paper-plane" aria-hidden="true"></em></a>
      </div>
    </div>
  </div>
</section>
